<aside>
  <nav class="shopnav navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid shopnav">

      <div class="collapse navbar-collapse shopnav" id="navbarNav">
        <ul class="navbar-nav column shops">
          <li class="nav-item ">
            <a class="nav-link  mac" [routerLink]="[ '/menu/mcdonalds' ]" routerLinkActive="active"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link la" [routerLink]="[ '/menu/lapiec' ]" routerLinkActive="active"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link sushi" [routerLink]="[ '/menu/sushiroom' ]" routerLinkActive="active"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link kfc" [routerLink]="[ '/menu/kfc' ]" routerLinkActive="active"></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</aside>
