.container-fluid{
    position: absolute;
    top:150vh;
    left: 124px;
}
.footer {
    height: 100px;
    background-color: #212529;
    padding: 40px 100px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}
h1{
    font-size: 30px;
    color: aliceblue;
}
  